{% extends "base.html" %}

{% block content %}

<h1>The Autobiography of Ryan Bahr</h1>

<em>As you descend deeper and deeper into the wood, the trappings of civilization become mere memories of light and sound. You begin to consider whether it all ever really existed, or if it had been a hallucination born from the wood to ease a nervous and corrupted mind. Almost as if to answer, you stumble into the door of a large earthen hut. The door creeks open as you step inside: A man wreathed in a tattered shawl hunches of a pot of stew, granting you a big half-toothed smile before offering you a bowl with trembling, warted hands.</em>

<p> "I am Ryan", <em> The man speaks </em> <p>

<em> Allow me to tell my story... </em>

{% endblock %}
