{% extends "base.html" %}

{% block content %}

<h1> Sources </h1>
<p> There are many sources from which I draw resources and components from this website; including images, concepts, and content. I will attempt to accomodate those sources here.</p>


<h2> <a href="https://www.djangoproject.com/">Django</a> </h2>
<p> Django is an powerful open-source web framework with a built-in relational database used to serve this very website.</p>
<br>

<h2> <a href="https://www.seleniumhq.org/projects/webdriver/">Selenium Webdriver</a> </h2>
<p> Selenium Webdriver is a browser automation tool. It is useful in both creating test-cases for already existing browser applications, and test-driven development.</p>
<br>

<h2> <a href="http://www.fabfile.org/">Fabric</a> </h2>
<p> Fabric is a Python library that designed to execute shell commands through SSH. This means instead of deploying manually, I use a pre-configured fabrication file to deploy automatically. </p>
<br>

<h2> <a href="https://gunicorn.org/">Gunicorn</a> </h2>
<p> Gunicorn (Gee-yoo-nee-korn) is a Python WSGI HTTP Server for UNIX, which forwards requests sent to the webserver to the django framework. </p>
<br>

<h2> <a href="https://www.digitalocean.com/">Digital Ocean</a></h2>
<p> Digital Ocean is a cloud computing platform that provides virtual servers to businesses and individuals who do not have the infrastructure to maintain a server.</p>

<br>

<h2> <a href="https://pypi.org/project/django-markdownx/">Django Markdownx</a> </h2>
<p> Django Markdownx is a plugin built for Django which allows my models to incorporate plain text formatting into my posts.</p>

<br>

{% endblock %}
